<!-- Code 2 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <h1>{{ value }}</h1>
    <div class="canvasclass"><canvas id="myChart1" width="8" height="1" ></canvas></div>
    <div class="canvasclass"><canvas id="myChart2" width="8" height="1" ></canvas></div>
    <div class="canvasclass"><canvas id="myChart3" width="8" height="1" ></canvas></div>
    <script type="application/javascript" src="{% static 'main.js' %}"></script>

</body>
</html> 